.slide {
  max-height: 25em;
  min-height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
}

.slide img {
  width: 100%;
  max-height: inherit;
  display: none;
  object-fit: contain;
}

.show {
  display: block !important;
}

.spinner {
  animation: rotation 1s infinite linear;
  width: 10%;
  color: white;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
